@font-face {
  font-family: 'iconos-metropolitan';
  src: url("../fonts/iconos-metropolitan/iconos-metropolitan.eot?jjkh2g");
  src: url("../fonts/iconos-metropolitan/iconos-metropolitan.eot?#iefixjjkh2g") format("embedded-opentype"), url("../fonts/iconos-metropolitan/iconos-metropolitan.ttf?jjkh2g") format("truetype"), url("../fonts/iconos-metropolitan/iconos-metropolitan.woff?jjkh2g") format("woff"), url("../fonts/iconos-metropolitan/iconos-metropolitan.svg?jjkh2g#iconos-metropolitan") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icono-"], [class*=" icono-"] {
  font-family: 'iconos-metropolitan';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icono-clock2:before {
  content: "\e61d";
}

.icono-circle-check:before {
  content: "\e601";
}

.icono-person:before {
  content: "\e602";
}

.icono-location:before {
  content: "\e61a";
}

.icono-cloudy:before {
  content: "\e619";
}

.icono-x:before {
  content: "\e60e";
}

.icono-search:before {
  content: "\f02e";
}

.icono-newspaper:before {
  content: "\e603";
}

.icono-pencil:before {
  content: "\e604";
}

.icono-droplet:before {
  content: "\e605";
}

.icono-paint-format:before {
  content: "\e606";
}

.icono-play:before {
  content: "\e607";
}

.icono-film:before {
  content: "\e608";
}

.icono-price-tag:before {
  content: "\e609";
}

.icono-calendar:before {
  content: "\e60d";
}

.icono-cart:before {
  content: "\e60a";
}

.icono-cart2:before {
  content: "\e611";
}

.icono-envelope:before {
  content: "\e613";
}

.icono-download2:before {
  content: "\e614";
}

.icono-download:before {
  content: "\e610";
}

.icono-clock:before {
  content: "\e61c";
}

.icono-location2:before {
  content: "\e61b";
}

.icono-aircraft:before {
  content: "\e615";
}

.icono-aircraft-take-off:before {
  content: "\e616";
}

.icono-aircraft-landing:before {
  content: "\e617";
}

.icono-suitcase:before {
  content: "\e60b";
}

.icono-calculator2:before {
  content: "\e60f";
}

.icono-mail:before {
  content: "\e612";
}

.icono-cloud:before {
  content: "\e618";
}

.icono-plus:before {
  content: "\e60c";
}

.icono-calculator:before {
  content: "\e600";
}
